  <!-- Reservation Form -->
  <div class="res-form" id="resinfo" ng-show="reservationinfo">
    <h3 class="res-title">Reservation Information</h3>
    <div class="input-group">
      <label for="" class="input-label">Number of Guest</label>
      <input type="text" name="" value="" class="input-field"/>
    </div>
    <div class="input-group">
      <label for="" class="input-label">Environment</label>
      <select name="" id="" class="input-field">
        <option value=""></option>
        <option value="">Environment 1</option>
        <option value="">Environment 2</option>
        <option value="">Environment 3</option>
      </select>
    </div>
    <div class="input-group">
      <label for="" class="input-label">Date &amp; Time</label>
      <input type="text" name="" value="" class="input-field"/>
    </div>
    <a href="" class="bttn bttn-danger" ng-click="preorderInfo()">Pre-Order</a>
    <a href="" class="bttn bttn-cancel" ng-click="customerInfo()">Continue</a>
  </div>

  <!-- Pre-order Information -->
  <div class="res-form" id="preorder" ng-show="preorderinfo">
    <div class="res-wrapper">
      <div class="res-categories">
        <h3 class="res-title res-title-left">Categories</h3>
        <ul class="res-catlist">
          <li ng-repeat="category in categories | orderBy:'name' track by $index">
            <a href="" ng-click="loadCategoryMenus($event)" data-id="{{ category.id }}" ng-class="catactive == 'catactive{{ category.id }}' ? 'active' : ''" class="menu{{ $index }}">{{ category.name }}</a>
          </li>
        </ul>
      </div>
      <div class="res-menu">
        <h3 class="res-title res-title-left">{{ default_catname }} Menu</h3>
        <ul class="res-menulist" data-catid="{{ default_catid }}">
          <li ng-hide="default_catmenu != 0" class="res-menuempty">No menu on this category!</li>
          <li ng-repeat="item in default_catmenu track by $index">
            <div class="item-box">
              <div class="item-pic" style="background-image:url('https://cdn.looloo.com/photos/reviews/282017/large_square/b6cf4761-f37d-4d64-abca-9fc247070a81.jpg?1468669974')">
                <span class="item-desc">A traditional spanish potato omelet</span>
              </div>
              <h4 class="item-name">{{ item.name }}</h4>
              <p class="item-price">&#8369; {{ item.price }}</p>
              <a href="" class="btn btn-danger btn-sm item-addcart" ng-click="addToBag($event)" data-item="{{ item.id }}">Add</a>
            </div>
          </li>
        </ul>
      </div>
      <div class="res-summary">
        <h3 class="res-title res-title-left">Summary</h3>
        <p ng-if="preorder == 0" class="summary-empty">
          <span><i class="fa fa-shopping-bag"></i>You don't have pre-order item(s)</span>
        </p>
        <ul class="summary-listing" ng-if="!preorder == 0">
          <li ng-repeat="item in preorder track by $index">
            <a href="" class="summary-remove" ng-click="removeFromBag(item)"><i class="fa fa-trash"></i></a>
            <div class="colleft">
              <p class="summary-name">{{ item.name }}</p>
            </div>
            <div class="colcenter">
              <div class="summary-quan">
                <button class="btn" type="button" ng-click="decreaseQuantity(item)"><i class="fa fa-minus"></i></button>
                <input type="text" name="" value="{{ item.quantity }}" class="form-control" ng-model="item.quantity" readonly/>
                <button class="btn" type="button" ng-click="increaseQuantity(item)"><i class="fa fa-plus"></i></button>
              </div>
            </div>
            <div class="colright">
              <p class="summary-subtotal">&#8369; {{ item.quantity * item.price }}</p>
            </div>
          </li>
        </ul>
        <div class="summary-footer" ng-if="preorder != 0">
          <p class="labels">VAT</p>
          <p class="amount">12%</p>
          <div class="wrapper">
            <p class="labels">Total</p>
            <p class="amount">&#8369; {{ totalpayable }}</p>
          </div>
        </div>
        <div class="summary-notes" ng-if="preorder != 0">
          <div class="input-group">
            <label for="" class="input-label">PRE-ORDER NOTES</label>
            <textarea name="" id="" class="input-field"></textarea>
          </div>
        </div>
        <a href="" class="bttn bttn-danger" ng-click="customerInfo()">Continue</a>
        <a href="" class="bttn bttn-success" ng-click="preorderCancel()">Cancel</a>
      </div>
    </div>
  </div>

  <!-- Customer Information -->
  <div class="res-form" id="rescusinfo" ng-show="customerinfo">
    <h3 class="res-title">Customer Information</h3>
    <div class="input-group">
      <label for="" class="input-label">Full Name</label>
      <input type="text" name="" value="" class="input-field"/>
    </div>
    <div class="input-group">
      <label for="" class="input-label">Phone Number</label>
      <input type="text" name="" value="" class="input-field"/>
    </div>
    <div class="input-group">
      <label for="" class="input-label">Email Address</label>
      <input type="text" name="" value="" class="input-field"/>
    </div>
    <a href="" class="bttn bttn-danger" ng-click="reservationInfo()">Continue</a>
    <a href="" class="bttn bttn-cancel">Cancel</a>
  </div>
